.card-container {
    background-color: #333;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-content {
    display: flex;
    align-items: center;
}

.status-circle {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    border-radius: 50%;
}


.status-circle.completed{
    color: rgb(68, 173, 243);
}




.status-button{
    /* vertical-align: bottom; */
    /* background-color: red; */
    vertical-align: bottom;
}





.task-title {
    margin-left: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.task-actions {
    display: flex;
    align-items: center;
}

.edit-button,
.delete-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 16px;
}

.edit-button:hover,
.delete-button:hover {
    color: #ffa500;
}

.input-container{
    background-color: transparent;
    outline: none;
    /* opacity: 0; */
    width: 100%;
    /* height: 100%; */
    padding-left: 1rem;
    padding-right: 1rem;
    /* background:red; */
}